@model DraftECommerece.Models.tbl_Foundation_Products
@{
    ViewData["Title"] = "Details";
}


<br />

<h2 class="text-info">Prodcut Details</h2>
<form asp-action="Details" enctype="multipart/form-data" method="post">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NameProduct"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="NameProduct" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PriceProduct"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PriceProduct" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="PriceProduct" class="text-danger"></span>
            </div>

            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="UploadImageProduct"></label>
                </div>
                <div class="col-8">
                    <input type="file" accept=".pdf, .png" asp-for="UploadImageProduct" class="form-control" />
                </div>
                <span asp-validation-for="ImageProduct" class="text-danger"></span>
            </div>*@

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" readonly="readonly" disabled="disabled" asp-for="IsAvailable" class="" />
                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypeId"></label>
                </div>
                <div class="col-8">

                    @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                    <input asp-for="ProductTypeId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-3">
            <img src="~/@Model.ImageProduct" width="100%" style="border-radius: 5px; border: 1px solid #efefef" />
        </div>

        <div>
            <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    }

